/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #d62828;
}
    
a:hover {
    color: #f77f00;
    text-decoration: none;
}

nav a:hover {
   color: #085788;
   text-decoration: none;
}

.navbar-brand {
    
}


#nav-logo {
    position: relative;
    width: 170px;
    left: 15px;
    background-size: contain;
}

#nav-userInfo {
    margin-left: 20%;
    background-size: contain;
    list-style: none;
}

#nav-profilepic {
    height: 75px;
    border-radius: 50%;
}


.btn-primary {
    color: #d62828;
    background-color: #fcbf49;
    border-color: #1861ac;
}

nav {
    color: #d62828;
    background-color: #fcbf49 !important;
    font-size: 30px;
}

.nav-link{
    color: #d62828;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #085788;
    font-family: "Cherry Cream Soda";
    color: #fff1d0;
}

h1, h2, h3, h4, h5, h6, p {
    color: #fff1d0;
}


.footer {
    color: #fff1d0;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
