/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #f77f00;
}

#homeLogo {
}

.gameList {
    color: #f77f00;
}

a:hover {
        color: #d62828;
        text-decoration: none;
}

.gameList:hover {
    color: #d62828;
    text-decoration: none;
}


nav a:hover {
    color: #085788;
    text-decoration: none;
}

.navbar-brand {
    
}


#nav-logo {
    position: relative;
    left: 15px;
    background-size: contain;
}

#nav-userInfo {
    margin-left: 20%;
    background-size: contain;
    list-style: none;
}

#nav-profilepic {
    height: 75px;
    border-radius: 50%;
}


.btn-primary {
    color: #d62828;
    background-color: #fcbf49;
    border-color: #1861ac;
}

nav {
    color: #d62828;
    background-color: #fcbf49 !important;
    font-size: 30px;
    max-height: 90px;
}

.nav-link{
    color: #d62828;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #085788;
    font-family: "Cherry Cream Soda";
    color: #fff1d0;
}

h1, h2, h3, h4, h5, h6, p {
    color: #fff1d0;
}

p, .control-label, .form-control, form {
    font-family: sans-serif,Arial,Calibri;
    font-size: 20px;
}


.footer {
    color: #fff1d0;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.gameGalleryImage{
    max-height:150px;
    max-width:150px;
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    background-color: #ebebeb;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
}

.cardImg{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.card_Content {
    text-align :center;
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 15px;
    background: #fafafa;
    background-color: #ebebeb;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.box {
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
    transition: 0.5s;
    margin: 6px;
    background-color: #ebebeb;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.leaderboardBox {
    top: 50%;
    left: 50%;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
    transition: 0.5s;
    margin: 6px;
    background-color: #ebebeb;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.eventBox {
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    display: flex;
    transition: 0.5s;
    margin: 6px;
    background-color: #ebebeb;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.box:hover, .leaderboardBox:hover, .eventBox:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.box .imgBox .eventImg .gameGalleryImage {
    width: 150px;
    flex: 0 0 150px;
}

.box .imgBox .eventImg .gameGalleryImage img {
     max-width: 100%;
}

.leaderboardBox .imgBox img {
    max-width: 100%;
    border-radius: 4px;
}

.box .content {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.eventBox .eventContent {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.leaderboardBox .leaderboardContext{
    padding-left: 20px;
}

.box .content p{
    margin: 0;
    padding: 10px 0 0;
    margin-bottom: 10px;
    text-align: justify;
    color: #000000;
}

.gameTitle {
    padding-left: 10px;
}

.eventTitle {
    padding-left: 20px;
}

.eventTitle h3{
    color: black;
}

.leaderboardBox .leaderboardContext p {
    margin: 0;
    padding: 10px 0 0;
    margin-bottom: 10px;
    text-align: justify;
    color: #000000;
}



