

<h1>About Us</h1>

<div class="about-container">
    <div class="about-item">
        <img src="" />
        <h3>Kyle Houston</h3>
        <p>E-mail: <a href="mailto: kbh.csse@gmail.com">kbh.csse@gmail.com</a></p>
        <a href="https://github.com/k-houston" target="_blank">
            <img class="social-links" src="\images\github.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/kyle-houston/" target="_blank">
            <img class="social-links" src="\images\linkedin.png" alt="linkedin">
        </a>
    </div>

    <div class="about-item">
        <img src="" />
        <h3>Mary Kemp</h3>
        <p>E-mail: <a href="mailto: mpkemp79@gmail.com">mpkemp79@gmail.com</a></p>
        <a href="https://github.com/marymo79" target="_blank">
            <img class="social-links" src="\images\github.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/mary-kemp/" target="_blank">
            <img class="social-links" src="\images\linkedin.png" alt="linkedin">
        </a>
    </div>

    <div class="about-item">
        <img src="" />
        <h3>Chris Lawver</h3>
        <p>E-mail: <a href="mailto: chris_lawver@yahoo.com">chris_lawver@yahoo.com</a></p>
        <a href="https://github.com/ChrisLawver" target="_blank">
            <img class="social-links" src="\images\github.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/chris-lawver" target="_blank">
            <img class="social-links" src="\images\linkedin.png" alt="linkedin">
        </a>
    </div>

    <div class="about-item">
        <img src="" />
        <h3>Adam Pryatel</h3>
        <p>E-mail: <a href="mailto: adampryatel@gmail.com">adampryatel@gmail.com</a></p>
        <a href="https://github.com/AdamPryatel" target="_blank">
            <img class="social-links" src="\images\github.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/adam-pryatel/" target="_blank">
            <img class="social-links" src="\images\linkedin.png" alt="linkedin">
        </a>
    </div>

    <div class="about-item">
        <img src="" />
        <h3>Karlton Shoemaker</h3>
        <p>E-mail: <a href="mailto: ">Email</a></p>
        <a href="https://github.com/karlton-shoemaker" target="_blank">
            <img class="social-links" src="\images\github.png" alt="Github">
        </a>
        <a href="https://www.linkedin.com/in/karltonshoemaker/" target="_blank">
            <img class="social-links" src="\images\linkedin.png" alt="linkedin">
        </a>
    </div>

</div>