@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <img src="~/images/logo.png" /></h1>
    <h3>Find your favorite Game. Create an Event. Keep Game stats. Invite your Friends!</h3>
</div>



