@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <img id="homeLogo" src="~/images/transparentlogo.png" />
    <h2>Find your favorite Game. Create an Event. Keep Game stats. Invite your Friends!</h2>
</div>



