@model GameNight.Models.UserEvent

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Player to Event</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="text-success">@ViewBag.Error</div>
            <input class="form-control" type="hidden" asp-for="EventId" />
            <input class="form-control" type="hidden" asp-for="Id" />
            <input class="form-control" type="hidden" asp-for="Active" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Player List</label>
                <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(ViewBag.UserId,"Id","Username"))"></select>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Add Player" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.EventId" asp-controller="Event">Back to Event</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
