@model IEnumerable<GameNight.Models.User>

<h1>Players</h1>

@{
    List<User> orderedList = Model.OrderBy(x => x.Username).ToList();
}

@foreach (var item in orderedList)
{
    <div>
        <h2><a href="/User/Details/@item.Id">@item.Username</a></h2>
    </div>
    <div>
        <img src="@item.ProfilePic" />
    </div>
}
