@model IEnumerable<GameNight.Models.Game>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <form>
        <h2>Game Gallery</h2>
        <input id="search" type="search" placeholder="Search Game" />
        <button class="btn btn-primary" id="gameSearch">Submit</button>
    </form>
</section>

<div id="gameResult"></div>

@foreach (var item in Model)
{
    <div class="box">
        <div class="content">
            <h3><a href="/Game/Details/@item.Id">@item.Title</a></h3>
            <img src="@item.Image" />

            @if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserId")))
            {
                <a class="btn btn-primary" href="/Game/Delete/@item.Id">Remove from Gallery</a>
                <a class="btn btn-primary" href="/Event/Create/?gameId=@item.Id">Create an Event</a>
            }

        </div>
    </div>
}

@section scripts{
    <script src="~/js/getGame.js" asp-append-version="true"></script>
}